{% extends "flayout.html" %}
{% block title %}Register{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<div class="uk-container uk-container-center" ng-controller="CarsController" >



                <div class="uk-grid  uk-margin-large-top" >



                        <div class="uk-width-small-1-1 uk-margin-top uk-width-large-1-3 uk-width-medium-1-3" ng-repeat="item in apotelesmata">
                        <a class="uk-thumbnail" href="#" >
                                    <img src="{{ url_for('static', filename = 'images/') }}{a item.image a}" width="600" height="500" alt="">
                                    <div class="uk-thumbnail-caption">{a item.name a} - <span class="uk-badge uk-badge-danger">{a item.initial_price a} EUR</span></div>
                                </a>
                        </div>
                </div>



                </div>






</div>
{% endblock %}